/*Alinhamentos, espaçamentos, larguras e alturas */
*{
box-sizing: border-box;
}
html, body, footer{
    margin: 0;          
}
header,main{
    text-align: center;
}
.logo{
    width: 140px;
    margin:30px 0 ;
}
main .donors{
    display: grid;
    grid-template-columns: 1fr 1fr 1 fr 1fr;
}
.blood{
    color: #ff4f4f;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blood:before{
    content: "";
    background: #ff4f4f11;
    height: 40px;
    width: 40px;
    position: absolute;
    border-radius: 50%;
    border-top-right-radius: 0;
    transform: rotate(-45deg);
}
main h2 span{
color: #ff4f4f;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
}
header, .form, main{
    margin: 0 auto 40px;
    max-width: 500px;
    width: 90%;
 }
 header h1, main h2{
    margin-bottom: 70px;
}
header button{
    margin-top: 12px;
    padding: 8px 16px;
    border-radius: 6px;
    background-color: #ff4f4f;
    color: white;
    font-weight: bold;
    border: none;
}
.donors{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.donor p{
    margin-top: 24px;
    margin-bottom: 60px;
    font-size: 14px;
}
.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 45px;
    background-color: #ff4f4f;
    padding:16px 64px;
    align-items: center;
    border-radius: 6px;
}
form input, form button{
    width: 100%;
    margin-bottom: 4px;
    padding: 9px 16px;
    border-radius: 5px;
    border: 1px #ffffff88 solid;
}
form input{
    background-color: transparent; 
}
form input::placeholder{
    color: white;
}
form button{
    font-weight: bold;
}
.form h2{
    text-align: right;
    color: white;
    font-size: 24px;
}
footer{
   padding-bottom: 16px;
   padding: 16px;
   border: 1px solid #eee;
}
section.form{
    transition: all 450ms;
}
section.form.hide{
    opacity: 0%;
    visibility: hidden;
    height: 0;
    margin-top: -45px;
    margin-bottom: -20px;

}
